<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1093137555616-ceokslole7gh9n6g2m1hnj7su7mspmrr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1093137555616-ceokslole7gh9n6g2m1hnj7su7mspmrr</string>
	<key>API_KEY</key>
	<string>AIzaSyDe63OeBxlRS-AnKC1v9NocDCoOfsx9YiY</string>
	<key>GCM_SENDER_ID</key>
	<string>1093137555616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.internetCafes</string>
	<key>PROJECT_ID</key>
	<string>internetcafe-61940</string>
	<key>STORAGE_BUCKET</key>
	<string>internetcafe-61940.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1093137555616:ios:919523f7e7f20fe736e9c5</string>
</dict>
</plist>